mixin h2(text)
	.grid-x.grid-margin-x
		.cell.shrink
			h2=text
			hr.lg-underline.blue
		.cell.auto
		
mixin h2-lmarg(text)
	.grid-x.grid-margin-x.l-marg-15
		.cell.shrink
			h2=text
			hr#hr-lmarg.lg-underline.blue
		.cell.auto
		
mixin h3(text)
	.grid-x.grid-margin-x
		.cell.shrink
			h3=text
			hr.lg-underline.blue
		.cell.auto
		
mixin h3-lmarg(text)
	.grid-x.grid-margin-x.l-marg-15
		.cell.shrink
			h3=text
			hr#hr-lmarg.lg-underline.blue
		.cell.auto
		
mixin h4(text)
	.grid-x.grid-margin-x
		.cell.shrink
			h4=text
			hr.lg-underline.blue
		.cell.auto
		
mixin h4-lmarg(text)
	.grid-x.grid-margin-x.l-marg-15
		.cell.shrink
			h4=text
			hr#hr-lmarg.lg-underline.blue
		.cell.auto
		
//- CENTER 'EM UP!
		
mixin h2-centered(text)
	.grid-x.align-center
		.cell.shrink
			h2=text
			hr.lg-underline.blue
		
mixin h3-centered(text)
	.grid-x.align-center
		.cell.shrink
			h3=text
			hr.lg-underline.blue
		
mixin h4-centered(text)
	.grid-x.align-center
		.cell.shrink
			h4=text
			hr.lg-underline.blue
		
mixin h3-noshrink(text)
	.grid-x.align-center
		.cell
			h3=text
			hr.lg-underline.blue
		
mixin h4-centered(text)
	.grid-x.align-center
		.cell.shrink
			h4=text
			hr.lg-underline.blue